.container {
    display: flex;
}

.pastcontainer {
    position: relative;

    width: 20%;
    height: 85%;

    bottom: 0;
    left: 0;
}

.futurecontainer {
    position: absolute;

    width: 20%;
    height: 85%;

    bottom: 0;
    right: 0;
}

.calendarcontainer {
    position: relative;
}